html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: "arial-regular";
  src: url(../fonts/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "arial-bold";
  src: url(../fonts/arial-bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "arial-black";
  src: url(../fonts/arial-black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
font-face {
  font-family: "arial-narrow";
  src: url(../fonts/arial-narrow.ttf);
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "georgia-regular";
    src: url(../fonts/georgia-regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;}

    @font-face {
        font-family: "georgia-bold";
        src: url(../fonts/georgia-bold.ttf);
        font-weight: 700;
        font-style: normal;
        font-display: swap;}

html {
  box-sizing: border-box;
  scroll-behavior:smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "arial-regular";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  
/* Header style start */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: bisque;
  padding: 30px 40px;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
 
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 
}
.header-link {
  padding: 5px;
  text-decoration: none;
  color: bisque;
  font-family: "arial-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  
}
/* .header-link:active {
  border-bottom: 2px solid bisque;
  font-size: 15px; */
}

.header-link:hover
.header-link:focus {
  font-size: 15px;
}
.header-link:active{
  border-bottom: 2px solid bisque;
  font-size: 15px; 
}
.is-active {
  border-bottom: 2px solid bisque;
  font-size: 15px; 
  pointer-events: none;
}
.logo {
 
  text-decoration: none;
  color: bisque;
}

.logo1 {
  font-family: "georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  
}
.logo2 {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  
}
/* Header style end */
/* not only style start */

.not-only {
  /* min-height: 100vh; */
  background: url(../img/start-screen-gradient-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-left: 40px;
  padding-right: 40px;
}
.only-wrapper{
max-width: 1280px;
margin: 0 auto;
}

.not-only-container {
  width: 1200px;
  height: 728px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 10px;
  position: relative;

}
.not-only-part {
    width: 472px;
    height: 322px;
    margin-top: 160px;
    /* position: absolute; */
    /* left: 128px;
    bottom: 208px; */
}
.not-only-title {
  width: 314px;
  height: 114px;
  color: #FFFFFF;
  font-family: "georgia-regular" ;
  font-size: 44px;
  line-height: 130%;
  margin-bottom: 40px;
}
.not-only-subtitle {
  width: 460px;
  height: 72px;
  color: #FFFFFF;
  font-family: "arial-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin-bottom:40px;
}
.not-only-button {
  display: inline-block;
  border: solid 1px #F1CDB3;
  width: 207px;
  height: 52px;
  text-align: center;
  color: #292929;
  text-decoration: none;
  font-family: "georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;  
  background: #f1cdb3;
  border-radius: 100px;
  padding-top: 12px;

}
.not-only-button:hover,
.not-only-button:focus,
.not-only-button:active{
    background-color:#FDDCC4;
}

.not-only-img {
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px / 2 + 251px);
  bottom: 0px;
}
/* not only style end */

/* about-the-shelter start */
.about{
  min-height: 100hv;
  padding: 40px 90px;
  background-color: #FFFFFF;
}
.about-wrapper {
    max-width: 1280px;
    margin: 0 auto;
   
}
.about-the-shelter-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;

}
.about-img {
position: absolute;
width: 300px;
height: 408px;
left: 175px;
top: 0;

}
.about-info {
  position: absolute;
  width: 430px;
  height:380px;
  left: 629px;
    
}
.about-title{ 
width: 370px;
height: 90px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;

}
.about-subheading {
width: 430px;
font-family: "arial-regular";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
letter-spacing: 0.06em;
}
/* about-the-shelter end */

/* our pets start */
.our-friend{
min-height: 100hv;
padding: 90px 40px;
background: #F6F6F6;
}
.pets-wrapper {
max-width: 1280px;
margin: 0 auto;
position: relative;
/* background: #F6F6F6; */
 }

.pets-content{
  /* position: absolute; */
  width: 1200px;
  height: 697px;
  /* left: calc(50% - 1200px/2); */
 
  background: #F6F6F6;
}
.our-pets-title {
width: 400px;
height: 90px;

position: absolute;
left: 30%;
right: 30%; 
top: 0;
text-align: center;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
color: #545454;
}

.pets-slider {
/* position: absolute; */
/* width: 100%; */
display: flex;
justify-content:space-between;
align-items: center;
position: absolute;
width: 1200px;
height: 435px;
left: 0px;
top: 150px;
}

.pets-card {
display: flex;
flex-direction: column;
align-items: center;
width: 270px;
height: 435px;
background-color: #FFFFFF;
border-radius: 9px;
} 
.pets-card:hover,
.pets-card:focus,
.pets-card:active{
  background-color: #FAFAFA;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
} 
.card-title {
  text-align: center;
  font-family: "georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.card-button {
width: 187px;
height: 52px;
background: #FAFAFA;
border: 2px solid #F1CDB3;
border-radius: 100px;
color: #545454;

}
.card-button:hover,
.card-button:focus,
.card-button:active{
    background-color: #F1CDB3;
} 
 .circle{
 width: 52px;
height: 52px; 
/* position: absolute;
top: 192px; 
left:0px; */
border: 2px solid #F1CDB3;
border-radius: 50%;
background-color:#FAFAFA;
}


.circle:hover,
.circle:focus,
.circle:active{
  background-color: #F1CDB3;
  
} 
.arrow-ahead {
  background-image: url(../icons/Arrow\ ahead.svg);
  background-size: 14px 6px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.arrow-back {
  background-image: url(../icons/Arrow\ ahead.svg);
  background-size: 14px 6px;
  background-repeat: no-repeat;
  background-position: center;
}
.get-to-button {
display: inline-block;
border: solid 1px #F1CDB3;
text-align: center;
color: #292929;
text-decoration: none;
position: absolute;
width: 261px;
height: 52px;
left: 470px;
top: 645px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;  
background: #F1CDB3;
border-radius: 100px;
padding-top: 12px;
}
.get-to-button:hover, 
.get-to-button:focus,
.get-to-button:active {
  background-color:#FDDCC4;
} 
.card-img{
  border-radius: 9px 9px 0px 0px;
 
  }

/* our pets  end */
.
/* help the shelter start */

.help{
min-height: 100hv;
/* padding: 90px 40px; */
background: #F6F6F6;
}

.help-wrapper {
max-width: 1280px;
margin: 0 auto;
background: #FFFFFF;
}
.help-container {
  display: flex;
  position: relative;
  height: 431px;
  margin: 90px 40px;
}

.help-title {
width: 308px;
height: 90px;
position: absolute;
left: 446px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
/* margin-bottom: 60px; */
}
.list{
width: 1026px;
height: 281px;
position: absolute;
left: 87px;
top: 150px;
display: flex;
gap: 55px 120px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.help-icon{
  text-align: center;
}

.icon{
  width: 60px;
  height: 60px;
}
.icon-title{
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #545454;
text-align: center;
letter-spacing: 0.06em;
}
/* help the shelter end */

/* donation start */
.in-addition{
min-height: 100hv;
padding: 90px 183px;
background: #F6F6F6;
}
.donation-wrapper {
  max-width: 1280px;
  margin: 0 auto;

}
.donation-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 width: 915px;
 height: 282px;
 left: calc(50% - 915px/2 + 0.5px);

}
.donation-dog{
position: absolute;
width: 505px;
height: 261px;
left: 0px;
top: 11px;}

.donation-title {
width: 300px;
height: 90px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
margin-bottom: 20px;
}
.donation-subheading{
width: 307px;
height: 17px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #545454;
margin-bottom: 20px;
}
.credit-card{
/* position: absolute; */
width: 349px;
height: 43px;
padding: 10px 15px;
left: 0px;
top: 147px;
background: #F1CDB3;
border-radius: 9px;
color: #545454;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
margin-bottom: 20px;
}
.card-link{
  text-decoration: none;
  color: #545454;
}
.credit-card:hover,
.credit-card:focus,
.credit-card:active {
background: #FDDCC4;
}
.credit-card:active{
  background: #FDDCC4;
  }
.legal{
width: 380px;
height: 72px;
color: #B2B2B2;
font-family: "arial-regular";
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}


/* donation end*/

.footer {
  min-height: 100hv;
  background: url(../img/footer-gradient-background.png) no-repeat;
  background-size: cover;
  
  }
  .footer-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 40px;
  
  }
  .footer-container {
    position: relative;
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .for-question {
  /* position: absolute; */
  width: 278px;
  height: 234px;
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
  margin-bottom: 60px;
  justify-content: flex-start;
  }
  .footer-list{
    list-style: none;
    margin-bottom: 10px;
  }
  .email
  .phone {
    list-style: none;
   
  }
  .email{
    margin-bottom: 30px;
    margin-top: 30px;
    
  }
  .email::before {
    content:url(../icons/icon-email.svg);
    width: 40px;
    height: 32px;
   
  }
  .phone::before{
    content: url(../icons/icon-phone.svg);
   
  }
  
  .footer-anchor{
  text-decoration: none;
  font-family: georgia-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 20px;
  margin-left: 20px;
  }
  .contact-title{
  /* position: absolute; */
  width: 278px;
  height: 90px;
  left: calc(50% - 278px/2 - 0px);
  top: 0px;
  font-family:"georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  }
  
  .address-text::before{
    content: url(../icons/icon-marker.svg);
    width: 22px;
    height: 32px;
    /* display: block;
    height: 32px;
    width: 22px;
    align-items: center; */

  
  }
  .address-text{
  list-style: none;
 
  width: 260px;
  height: 46px;
  /* left: calc(50% - 260px/2 + 21px);
  top: 124px;
  position:absolute; */
  }
  .link-address{
    text-decoration: none;
    font-family: georgia-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .boston{
  position: absolute;
  width: 260px;
  height: 46px;
  left: calc(50% - 260px/2 + 21px);
  top: 124px;
  text-align: center;
  }
  .london{
  position: absolute;
  width:260px ;
  height: 32px;
  left: calc(50% - 260px/2 + 21px);
  top: 202px;
  
  }
  .footer-img{
  position: absolute;
  width: 300px;
  height: 310px;
  left: calc(50% - 300px/2 + 450px);
  top: 0px;
  }
  .email
  .phone{
  /* position: absolute; */
  width: 251px;
  height: 32px;
  left: 0px;
  top: 130px;
  }
  .location {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    /* justify-content: flex-start; */
    /* position: absolute; */
    width: 302px;
    height: 234px;
    left: 438px;
    top: 16px;
  }
  .address-title {
  position: absolute;
  width: 270px;
  height: 90px;
  left: calc(50% - 270px/2 - 15px);
  top: 0px;
  width: 302px;
  height: 234px;
  font-family:"georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  }
  
  /*footer end */