@font-face {
  font-family: "arial-regular";
  src: url(../fonts/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "arial-bold";
  src: url(../fonts/arial-bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "arial-black";
  src: url(../fonts/arial-black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
font-face {
  font-family: "arial-narrow";
  src: url(../fonts/arial-narrow.ttf);
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "georgia-regular";
    src: url(../fonts/georgia-regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;}

    @font-face {
        font-family: "georgia-bold";
        src: url(../fonts/georgia-bold.ttf);
        font-weight: 700;
        font-style: normal;
        font-display: swap;}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "arial-regular";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  
/* Header style start */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background: url() ;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: bisque;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
 
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 
}
.header-link {
  padding: 5px;
  text-decoration: none;
  color: bisque;
  font-family: "arial-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  
}
.active {
  border-bottom: 2px solid bisque;
  font-size: 15px;
}
.logo {
 
  text-decoration: none;
  color: bisque;
  padding: 40px;
  
}
.header-logo {
 /* padding-left: 40px; */
}
.logo1 {
  font-family: "georgia-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  
}
.logo2 {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  
}
/* Header style end */
/* not only style start */

.not-only {
  min-height: 100vh;
  background: url(../img/start-screen-gradient-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-left: 40px;
  padding-right: 40px;
}

.not-only-container {
  width: 1200px;
  height: 728px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 10px;
  position: relative;

}
.not-only-part {
    width: 472px;
    height: 322px;
    /* position: absolute; */
    /* left: 128px;
    bottom: 208px; */

p
}
.not-only-title {
  width: 314px;
  color: #FFFFFF;
  font-family:"georgia-regular" ;
  font-size: 44px;
  line-height: 130%
}
.not-only-subtitle {
  max-width: 460px;
  color: #FFFFFF;
  font-family: "arial-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%
}
.not-only-button {
  width: 207px;
  height: 52px;
  font-style: normal;
  background: #f1cdb3;
  border-radius: 100px;
}
.not-only-button:hover{
    background-color:#FDDCC4;
}

.not-only-img {
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px / 2 + 251px);
  bottom: 0px;
}
/* not only style end */

/* about-the-shelter start */
.about-the-shelter {
  min-height: 100hv;
  padding: 40px 90px;
  background-color: #FFFFFF;
}
.about-wrapper {
    max-width: 1280px;
    margin: 0 auto;
   
}
.about-the-shelter-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;

}
.about-img {
position: absolute;
width: 300px;
height: 408px;
left: 175px;
top: 0;

}
.about-info {
  position: absolute;
  width: 430px;
  height:380px;
  left: 629px;
    
}
.about-title{ 
width: 370px;
height: 90px;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;

}
.about-subheading {
width: 430px;
font-family: "arial-regular";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
letter-spacing: 0.06em;
}
/* about-the-shelter end */

/* our pets start */
.our-pets {
min-height: 100hv;
padding: 40px 90px;

background: #F6F6F6;
}
.pets-wrapper {
max-width: 1280px;
margin: 0 auto;
position: relative;
background: #F6F6F6;
 }

.pets-content{
  /* position: absolute; */
  width: 1200px;
  height: 697px;
  left: calc(50% - 1200px/2);
  /* top: 80px; */
  background: #F6F6F6;
}
.our-pets-title {
width: 400px;
height: 90px;

position: absolute;
left: 30%;
right: 30%; 
top: 0;
text-align: center;
font-family: "georgia-regular";
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
}

.pets-slider {
/* position: absolute; */
/* width: 100%; */
display: flex;
justify-content:space-around;
align-items: center;
position: absolute;
width: 1200px;
height: 435px;
left: 0px;
top: 150px;
}

.pets-card {
display: flex;
flex-direction: column;
align-items: center;
width: 270px;
height: 435px;
background-color: #FFFFFF;
border-radius: 9px;
} 

.card-title {
    font-family: "georgia-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.06em;
   
}
.card-button {
width: 97px;
height: 22px;
background: #FAFAFA;;
border: 2px solid #F1CDB3;
border-radius: 100px;

}
.card-button:hover{
    background-color: #F1CDB3;
} 
.arrow-back .arrow-ahead {
/* position: absolute; */
width: 52px;
height: 52px;
left: 0px;
top: 192px;
border: 2px solid #F1CDB3;
border-radius: 100px;

}
.arrow-back .arrow-ahead:hover{
  background-color: #F1CDB3;
} 
.arrow-ahead {
  transform: rotate(180deg)
}
.get-to-button {
position: absolute;
width: 261px;
height: 52px;
left: 470px;
top: 645px;
background: #F1CDB3;
border-radius: 100px;
border-color: #F1CDB3;

}
.get-to-button:hover {
  background-color:#FDDCC4;
} 

}
/* our pets  end */
/* help the shelter start */
/* help the shelter end */
/* footer start */
footer end */